.dasboard-page {
  padding: 20px;
  // margin-top: 20px;
  padding-top: rem(40px);

  background-image: url(~@/assets/img/dashboard/dashboard-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  header {
    display: grid;
    grid-template-columns: 20px 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: rem(7px);
    margin: rem(20px) 0;

    h2 {
      font-family: $font-bold;
      color: $textBlue;
      font-size: rem(21px);
    }

    .hello {
      font-family: $font-semi;
      color: $textBlue;
      font-size: rem(16px);
      border-radius: 3px;
      border: 0.5px solid lightgrey;
      padding: 5px 10px;
      background-color: #ffe600;
    }
  }
  .boards {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin-right: 10px;
    }
  }
  @media(max-width:550px) {
    .boards {
      justify-content: center;
    }
  
    .board-preview {
      width: 100%;
      height: 230px;
    }
  
    .dasboard-page .new-board-btn {
      width: 100%;
      height: 230px;
    }
  }


  .new-board-btn {
    width: 225px;
    height: 140px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d3d3d3;
    font-family: $font-semi;
    color: $textBlue;
    transition: 0.2s;
  }

  .new-board-btn:hover {
    background-color: lighten(#d3d3d3, 5);
  }
}

@media(max-width:550px) {
  .dasboard-page .new-board-btn {
    width: 100%;
    height: 230px;
  }
}

.board-preview {
  width: 225px;
  height: 140px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;

  .name {
    font-family: $font-bold;
    color: $clr5;
    font-size: rem(18px);
  }
}
