.user-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  // min-height: 450px;
  background-color: $clr5;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: $shadow;
  font-family: $font-regular;
  color: $textBlue;
  z-index: 2;

  .close-btn {
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 rem(10px);
    user-select: none;

    span {
      font-family: $font-logo;
      color: $textBlue;
      font-size: rem(26px);
      margin-inline-end: rem(4px);
    }

    img {
      height: rem(40px);
    }
  }

  hr {
    background-color: rgba(9, 30, 66, 0.13);
    border: 0;
    height: 1px;
    margin-bottom: rem(16px);
    padding: 0;
    width: 100%;
  }

  .user-profile-container {
    .profile-view {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      img,
      .text-avatar {
        height: 120px;
        width: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: solid 1px darken(#f8f8f8, 40);
        margin-inline-end: 20px;
      }

      .text-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(80px);
        font-family: $font-semi;
        color: $clr5;
        span {
          margin: auto 0;
        }
      }

      .profile-name {
        display: flex;
        align-items: center;
        span {
          font-size: rem(24px);
          font-family: $font-regular;
          color: $textBlue;
        }
      }
    }

    .profile-edit {
      display: grid;
      grid-template-columns: rem(160px) 1fr;
      grid-template-rows: repeat(3, rem(30px));
      gap: rem(6px);

      .profile-menu-btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: $font-regular;
        font-size: rem(14px);
        color: $textBlue;
        background-color: darken($btnGrey, 10);
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s;
        align-self: center;
        padding: 0 rem(10px);
      }

      .profile-menu-btn:hover {
        background-color: $hoverBlue;
      }

      .profile-name-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      .profile-img-input {
        display: none;
      }

      .profile-name-container {
        grid-column: 1 / 3;
        grid-row: -1 / -2;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
          width: 100%;
          border: none;
          background-color: #fff;
          height: 100%;
          font-family: $font-regular;
          color: $textBlue;
          padding-inline-start: rem(5px);
        }

        button {
          background-color: $pGreen;
          font-family: $font-semi;
          font-size: rem(16px);
          color: #fff;
          border-radius: 3px;
          // padding: 10px 10px;
          height: 100%;
          min-width: 70px;
          margin-inline-start: rem(5px);
        }

        .profile-cancel-btn {
          color: black;
          background-color: darken($btnGrey, 20);
        }
      }
    }
  }
}

@media (max-width: $break-narrow) {
  .user-profile {
    width: 99%;
  }

  .profile-name {
    span {
      font-size: rem(20px);
    }
  }
}
