.comments-preview {
  display: flex;
  flex-direction: column;

  .user-avatar {
    height: 35px;
    width: 35px;
    cursor: default;
}

.avatar .remove-img {
  display: none;
}

}
.comment-card {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.comment-time {
  font-family: $font-light;
  font-size: rem(12px);
}

.comment-img-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: start;
  justify-self: center;
}

.comment-info {
  display: flex;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  align-self: center;
}

.comment-info > *:first-child {
  font-size: rem(14px);
  margin-inline-end: 10px;
  font-family: $font-bold;
}

.comment-txt {
  justify-self: start;
  font-family: $font-regular;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  font-size: rem(14px);
  box-shadow: $shadow;
  background-color: rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 3px;
}

.comment-controls {
  grid-column: 2 / -1;
}
