.preview-data {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .preview-indications {
    display: flex;
    justify-content: flex-start;
    margin: 0 4px 4px 0;
    padding: 2px;
    font-size: rem(12px);
    color: #5e6c84;

    .preview-check-list {
      .check-list-txt {
        padding: 0 4px 0 2px;
      }
    }
  }
  .menu-wrapper {
    position: absolute;
  }

  .preview-indications > * {
    margin: 0 4px 4px;
    padding: 2px;
  }

  .preview-indications :first-child {
    margin-left: 0;
  }
  .preview-members {
    margin-bottom: 4px;
    margin-left: auto;
  }
}
