
.label-preview {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    color: #fff;
    font-size: rem(12px);
    font-family: $font-bold;

    .label-card {
        cursor: pointer;
        border-radius: 3px;
        padding: 0 8px;
        margin-inline-end:5px ;
        margin-bottom: 3px;
        height: 18px;
        min-width: 45px;
        transition: width .4s, height .4s;
    }

    .label-card.mini-label {
        border-radius: 20px;
        // padding: 4px 21px;
        height: 7px;
        width: 40px;
    }
}