.member-preview {
  display: flex;
}

.member-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-semi;
  color: #5e6c84;
  border: solid 1px $clr1;
  border-radius: 50%;
  border-color: #5e6c84;
  width: 27px;
  height: 27px;
  margin-inline-end: 0.2em;
  cursor: pointer;
  user-select: none;
}