.login-signup {
    position: absolute;
    height: 450px;
    width: 350px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: $shadow;
    font-family: $font-regular;

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-family: $font-regular;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}