.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 84, 113);
  padding: 0 10px;
  width: 100%;
  position: fixed;
  height: rem(40px);
}

.main-logo {
  color: $clr4;
}

.nav-links > * {
  display: inline-block;
  color: $clr2;
  text-decoration: none;
  min-width: 100px;
}
