.main-header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);

  height: rem(40px);
  z-index: 3;

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0px 15px;
    width: 100%;
  }

 .user-avatar {
    height: 27px;
    width: 27px;
    border: 1px solid #000000;
  }

  .avatar  {
    margin-left: 15px;
  }

  .nav-links .avatar {
    width: auto;
    height: 30px;
    width: 30px;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .avatar .remove-img {
    display: none !important;
  }

}

.logo-link {
  text-decoration: none;
}

.logo-container {
  display: flex;
  user-select: none;

  :first-child {
    margin-inline-end: 5px;
  }
  .main-title {
    font-family: $font-logo;
    font-size: rem(24px);
    color: white;
  }

  .main-logo {
    height: 36px;
  }
}

.login-btns {
  :first-child {
    margin-inline-end: 5px;
  }
}

.login-btns > *,
.logout, .dashboard-nav-btn {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 6px 10px;
  border-radius: 3px;
  transition: all 0.3s;
  font-family: $font-regular
}

.logout {
  margin-left: 20px;
  border: 0;
  font-size: 0.85rem;
}

.dashboard-nav-btn {
  margin-left: 5px;
}

.login-btns > *:hover , .dashboard-nav-btn:hover {
  background-color: whitesmoke;
  color: black;
}

.nav-links > * {
  display: inline-block;
  font-family: $font-regular;
  color: white;
  text-decoration: none;
}
