.user-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.user-avatar:hover {
  .remove-img {
    display: block;
  }
}

.avatar {
  position: relative;

  .img-avatar {
    object-fit: cover;
  }
  .txt-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-semi;
    color: $clr5;
  }

  .remove-img {
    position: absolute;
    right: -3px;
    height: 18px;
    width: 18px;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    display: none;
  }
}

.avatar:hover {
  .remove-img {
    display: block;
  }
}
