
.site-block {
    margin-bottom: rem(20px);
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Font
.font-bold {
    font-family: $font-bold;
}

// Aspect ratios

.ratio-16-9 { @include aspect-ratio(100, 56); }

.ratio-square { @include aspect-ratio(100, 100); }

.ratio-card { @include aspect-ratio(100, 80); }

.ratio-poster { @include aspect-ratio(100, 150); }