
.board-menu {
    width: 320px;
    height: 80vh;
    background-color: rgb(255, 255, 151);
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1;

    .menu-header{
        margin: 14px 0;
    }
}