
.board-menu {
    width: 320px;
    height: 80vh;
    background-color: rgb(255, 255, 151);
    position: absolute;
    top: 45px;
    right: 0;
    z-index: 1;
    padding: 0 12px;
    color: $textBlue;

    .menu-header{
        margin: 14px 0;
        border-bottom: 1px solid lighten($color: #e4e4e4, $amount: 4%);
        text-align: center;
        padding-bottom: 4px;
    }

    .menu {
        .menu-btn{
            display: block;
            font-size: 1rem;
            font-family: $font-semi;
            color: $textBlue ;
            margin: 4px 0;
            padding: 6px;
            border-radius: 3px;
            outline: 0;
            width: 100%;
            text-align: left;
            .btn-txt{
                padding-left: 6px;
            }
        
        }
        .menu-btn:hover {
            background-color: rgba(9,30,66,.08);
        }
        .activities{
            margin: 70px 0 10px;
            .title{
                border-bottom: 1px solid lighten($color: #e4e4e4, $amount: 4%);
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 6px;
    }

}