
.board-style-menu {
    position: relative;
    
    .btn {
        height: 120px;
        border: 0.5px solid lighten($color: #a19595, $amount: 40%);;
        margin: 10px 0;
        border-radius: 5px;
        background-size: cover;
        font-family: $font-semi;
        cursor: pointer;
        transition: all 0.3;
        .txt-btn{
            background-color: rgba(0, 0, 0, 0.15);
            padding: 6px 12px;
            border-radius: 3px;
        }

    }
    .btn:hover {
        opacity: 0.8;
        .txt-btn {
            font-size: rem(20px);
            
        }
    }


    .close-btn {
        position: absolute;
        top: -43px;
        left: 0;
        padding: 6px;
    }
}