.board-img-picker {
    
    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 8px;
        .img-card{
            height: 90px;
            width: 100%;
            border-radius: 8px;
            margin: 0 0 8px;
            padding: 0 4px;
            cursor: pointer;
        }

    }
}