.invite-members {
  background-color: whitesmoke;
  position: absolute;
  right: 72px;
  width: 280px;
  border-radius: 3px;
  box-shadow: -1px 1px 1px rgba(9, 30, 66, 0.25);
  z-index: 2;
  top: 45px;


  .icon {
    position: absolute;
    top: 10px;
    right: 33px;
    color: #5e6c84;
  }

  .search-input-wrapper {
    position: relative;
  }

  .close-btn {
    cursor: pointer;
    right: 3px;
    top: 3px;
    padding: 4px 10px;
  }
  header {
    // padding: 33px 10px 0 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;

    .title {
    font-size: 0.875rem;
    color: #5e6c84;
    font-family: $font-semi;

    i {
      margin-right: 5px;
    }
    }
  }
  input {
    width: 90%;
    padding: 8px 20px;
    margin: 4px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: $font-regular;
    outline: 0;
  }

  .toggle {
    margin-left: 15px;

    span {
      font-family: $font-semi;
      font-size: rem(12px);
      margin-left: rem(3px);
      color: #5e6c84;
    }
  }

  .members-container {
    height: 300px;
    overflow-y: auto;
  }

  .member {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.3s;
    .name {
      margin-left: 10px;
    }
    .remove-img {
      display: none;
    }
  }
  .member:hover {
    background-color: rgba(201, 188, 188, 0.753);
  }
}

//Scroll bar
.members-container::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 8.5px;
}

.members-container::-webkit-scrollbar-track {
  border-radius: 10px;
  // border: 16px solid rgba(17, 59, 175, 0.904);
}
.members-container::-webkit-scrollbar-thumb {
  border: 16px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.members-container::-webkit-scrollbar-track {
  background-color: #dadbe2;
}
