.list-menu {
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 2;
    box-shadow: 1px 1px 1px rgba(9,30,66,.25);;
    font-size: rem(13px);
    border: 0.5px solid #ebecf0;
    color: $textBlue;
    > * {
        padding: 5px 6px;
        cursor: pointer;
    }

    .item {
        transition: .3s;
        color: $textBlue;
        font-size: 14px;
        padding: 5px 10px;
        margin-left: 0px;

        span {
            margin-inline-start: 5px;
        }
    }

    .item:hover {
        background-color: #ebecf0;
    }

    .item.remove:hover {
        .remove-list-icon {

            color: #ff7b64;
        }
    }
}