.list-menu {
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 2;
    box-shadow: 1px 1px 1px rgba(9,30,66,.25);;
    font-size: rem(13px);
    border: 0.5px solid #ebecf0;
    color: $textBlue;
    > * {
        padding: 5px 6px;
        cursor: pointer;
    }

    .fas, .far {
        color: $textBlue;
        font-size: 14px;
        margin: 3px;
        margin-left: 0px;
    }

    .item {
        transition: .3s;
    }

    .item:hover {
        background-color: #ebecf0;
    }

    .item.remove:hover {
        background-color: #ff7b64;
        color: $clr3;
    }
}