// COLOR PALETTE
$clr1: #0c2233;
$clr2: #0a91ab;
$clr3: #065471;
$clr4: #ffc045;
$clr5: #eeeeee;
$clr6: #303841; 
$textBlue: #002d3d;
$hoverBlue: #c5dbee;
$btnGrey: #ebebeb;
// $colorBtn

// TASK PALETTE
$pGreen: #61bd4f;
$pYellow: #f2d600;
$pOrange: #ff9f1a;
$pRed: #eb5a46;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;

// FONT
$font-regular: OpenSans-Regular, sans-serif;
$font-light: OpenSans-Light, sans-serif;
$font-semi: OpenSans-semiBold, sans-serif;
$font-bold: OpenSans-Bold, sans-serif;

// LOGO
$font-logo: ShadowsIntoLightTwo-Bold;

// OTHER
$shadow: 0 1px 0 rgba(9,30,66,.25);