// COLOR PALETTE

$clr1: #0c2233;
$clr2: #0a91ab;
$clr3: #065471;
$clr4: #ffc045;
$clr5: #eeeeee;
$clr6: #303841; 

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;
