.task-details {
  // position: fixed;
  background-color: $clr5;
  width: 768px;
  margin: 50px auto 0;
  border: $clr1 solid 1px;
  border-radius: 3px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.task-details > * {
    margin-bottom: 10px;
}

.details-labels {
  background-color: $clr3;
}

.details-members {
  background-color: $clr3;

  img,
  button {
    border-radius: 50%;
    border: solid 1px $clr6;
    cursor: pointer;
    min-width: 50px;
  }
}

.details-due-date {
  background-color: $clr3;
}

.details-description {
  background-color: $clr3;
}

.details-checklist {
  background-color: $clr3;
}

.details-discussion {
  background-color: $clr3;
}

.details-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  button {
    background-color: $clr3;
    border-radius: 3px;
    padding: 5px 10px;
  }
}
