.window-overlay {
  padding: 50px 0;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.64);
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.task-details {
  position: relative;
  background-color: $clr5;
  color: $textBlue;
  font-family: $font-semi;
  width: 768px;
  border-radius: 3px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 30px;
  margin: 0 auto;
  z-index: 1;
}

.task-details-header {
  .task-title {
    font-size: rem(20px);
    @include input-blur;
  }

  .task-title:focus {
    @include input-focus;
  }

  .close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: rem(10px);
    top: rem(10px);
  }
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.details-actions {
  display: flex;
  flex-direction: column;
  button {
    font-family: $font-regular;
    font-size: rem(16px);
    background-color: $btnGrey;
    transition: all 0.3s;
    border-radius: 3px;
    padding: 5px 20px;
    margin-bottom: 5px;
  }
  button:hover {
    background-color: $hoverBlue;
  }
}

.details-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: rem(50px);

  > * {
    margin-bottom: rem(10px);
  }
  .details-lmd {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(255, 137, 137);

    .title {
      font-family: $font-regular;
    }
    > * {
      margin-inline-end: rem(10px);
    }
  }
}

.details-labels {
  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: rem(5px);
  }

  .list {
    display: flex;
    align-items: center;
  }
}

.details-members {
  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: rem(5px);
  }

  .list {
    display: flex;
    align-items: center;
  }
  button {
    background-color: #e0e0e0;
    color: $clr3;
    transition: all 0.3s;
  }
  button:hover {
    background-color: #c5dbee;
  }
}

// details-grid-last

.details-due-date {
  .dueDate-container {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: rem(5px);
    }

    .date-picker-cell {
      // background-color: red;
    }

    .el-date-editor .el-input__inner {
      font-family: $font-regular;
      font-size: rem(14px);
      // background-color: rgb(222, 190, 255);
    }
  }

  .details-due-list {
    display: flex;
    align-items: center;
    //   margin-inline-end: 5px;

    :first-child {
      margin-inline-end: rem(5px);
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
  }
}

.details-description {
  .title {
    margin-bottom: rem(5px);
  }

  .details-desc-input {
    font-size: rem(14px);
    font-family: $font-regular;
    resize: none;
    @include input-blur;
  }

  .details-desc-input:focus {
    @include input-focus;
  }
}

.details-checklist {
  .details-checklist-header {
    display: flex;
    // flex-direction: column;
    align-items: center;

    .checklist-title {
      @include input-blur;
      font-size: 16px;
      font-family: $font-semi;
      color: $textBlue;
      width: 100%;
    }

    .checklist-title:focus {
      @include input-focus;
    }
  }
  .details-progress {
    padding-inline-start: rem(10px);
  }
}

.checklist-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  .checklist-todo-container:hover {
    background-color: darken($clr5, 3);
    border-radius: 3px;
  }
  .checklist-todo-container:hover > :last-child {
    opacity: 1;
  }

  .checklist-todo-container > :first-child {
    margin-inline-end: 5px;
    cursor: pointer;
    min-width: 16px;
    min-height: 16px;
  }

  .checklist-todo {
    width: 100%;
    @include input-blur;
    font-family: $font-regular;
    color: $textBlue;
  }

  .checklist-todo:focus {
    @include input-focus;
    font-family: $font-regular;
  }

  .todo-remove-btn {
    opacity: 0;
    font-family: $font-bold;
    font-size: 14px;

    margin-inline-start: 10px;
    transition: all 0.3s;
    padding: 5px 10px;
    text-align: center;
  }

  .todo-remove-btn:hover {
    color: $clr3;
    border-radius: 3px;
    background-color: #ff7b64;
  }

  // .checklist-add-todo {

  // }
}


// .details-disc-header {
//   display: flex;
//   align-items: center;
// }

// .discussion-add-item {
//   margin-bottom: 10px;
// }

// // Helpers:

// .details-clean-input {
//   @include input-blur;
// }

// .details-clean-input:focus {
//   @include input-focus;
// }

// helpers:
.details-grid {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 20px 1fr;
  gap: rem(5px);
}

.details-grid-title {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
  // max-width: 250px;
  column-gap: rem(5px);
}

.details-grid-last {
  grid-column: -2/-1;
  grid-row: -2 / -1;
}

.details-icons {
  font-size: 1rem;
  align-self: center;
}

.details-titles {
  font-size: rem(16px);
}

.action-link {
  color: $clr2;
  font-size: rem(12px);
  cursor: pointer;
  margin-inline-start: 8px;
}

.todo-done {
  text-decoration: line-through;
}
