.task-list {
  background-color: #ebecf0;
  position: relative;
  box-shadow: 0 0.45px 0 rgba(9, 30, 66, 0.25);
  display: flex;
  flex-direction: column;
  
  .tasks {
    flex: 1;
    max-height: 60vh;
    padding: 0 5px;
    margin: 0 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .edit-list-name {
    width: 272px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list-menu-btn {
    font-size: 0.925rem;;
    height: 30px;
    width: 30px;
    font-family: $font-semi;
    outline: 0;
    font-weight: normal;
    color: #bdc5d8;
    transition: all .3s;
    border-radius: 3px;
  }

  .list-menu-btn:hover {
    color: $textBlue;
    background-color: rgba(9, 30, 66, 0.08);
  }

  header {
    width: 272px;
    padding: 10px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .list-name {
      cursor: pointer;
      font-size: rem(13px);
      color: $textBlue;
      font-family: $font-bold;
      flex-grow: 1;
      margin-left: 7px;
    }
  }
  .list-input {
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    flex-grow: 1;
    margin-right: 5px;
    padding-bottom: 7px;
    font-size: rem(13px);
    color: $textBlue;
    padding: rem(3px) rem(2px);
    border-radius: 5px;
    font-family: $font-bold;
    box-shadow: inset 0 0 0 2px transparent;
    transition: all 0.3s;
  }
  .list-input:focus {
    box-shadow: inset 0 0 0 2px $clr3;
    background-color: rgb(252, 252, 252);
    padding-left: rem(10px);
  }

    .plus-icon {
      font-size: rem(1px);
      line-height: 0;
      font-weight: 700 !important;
    }

    .add-task-btn {
      height: 34px;
      margin: 10px;
      padding: 4px 8px;
      border-radius: 3px;
      font-family: $font-semi;
      color: #5e6c84;
      width: 93%;
      text-align: left;
      position: absolute;
      bottom: 0;
    }

    .add-task-btn:hover {
      color: #172b4d;
      background-color: rgba(9, 30, 66, 0.08);
    }
  
  .new-task-btns {
    display: flex;
    align-items: center;
    height: 100%;

    .add-task-btn.inner {
      width: unset;
      padding: 4px 10px;
      margin-right: 10px;
      position: static;
      background-color: $pGreen;
      color: $clr5;
    }

    .add-task-btn.inner:hover {
      background-color: lighten($pGreen, 10);
    }

  }
  
    // fades

    .fade-enter-active {
      transition: opacity .3s;
    }
    .fade-enter {
      opacity: 0;
    }
  
  .fade-leave-active {
      display: none;
    }
  .fade-leave-to {
      opacity: unset;
    }
  
    .new-task-box {
      width: 255px;
      box-shadow: $shadow;
      resize: none;
      padding: 5px 8px;
      display: block;
      border: 0;
      outline: 0;
      background-color: #ffffff;
      border-radius: 3px;
      font-family: $font-regular;
    }
  
    footer {
      height: 50px;
      .close-btn {
        font-family: $font-bold;
        // position: absolute;
        bottom: 15px;
        left: 80px;
      }
  
    .fa-plus {
      margin-right: rem(5px);
    }  
  }
}


//Scroll bar
.tasks::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 6.5px;
}

.tasks::-webkit-scrollbar-track {
  border-radius: 10px;
  // border: 16px solid rgba(17, 59, 175, 0.904);
}
.tasks::-webkit-scrollbar-thumb {
  border: 16px solid #bdc5d8;
  border-radius: 10px;
}

.tasks::-webkit-scrollbar-track {
  background-color: #dadbe2;
}

.being-dragged {
  cursor: grabbing !important;
}

// Unenabled some shit

.smooth-dnd-container.vertical > .smooth-dnd-draggable-wrapper {
  overflow: unset;
}
