
.task-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 120px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    top: 10px;
    right: 20px;
    z-index: 1;
    background-color: white;
    border-radius: 2px;
}