.task-preview {
  position: relative;
  padding: 6px 8px 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #ffffff;
  box-shadow: $shadow;
  font-size: rem(14px);
  cursor: pointer;

  .preview-menu-btn {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    display: none;
  }
  .preview-title {
    margin-bottom: 4px;
    font-family: $font-regular;
  }

  .preview-indications {
    display: flex;
    justify-content: flex-start;
    margin: 0 4px 4px 0;
    min-height: 20px;
    padding: 2px;
    font-size: rem(12px);
    color: #5e6c84;

    .preview-check-list{
      .check-list-txt {
        padding: 0 4px 0 2px;
      }
    }
  }

  .preview-indications > * {
    margin: 0 4px 4px 0;
    padding: 2px;

  }
  .preview-members {
    display: flex;
    justify-content: flex-end;
  }
}

.preview-wrapper {
position: relative;
}

.task-preview:hover {
  .preview-menu-btn {
    display: block;
  }
}
