.temp-class {
    color: #000000;
}

.task-details {
    // position: fixed;
    background-color: $clr5;
    width: 768px;
    margin: 50px auto 0;
    border: $clr6 solid 1px;
    border-radius: 3px;
    min-height: 300px;
}