
.task-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 120px;
    box-shadow: $shadow;
    top: 10px;
    right: 20px;
    background-color: white;
    border-radius: 2px;

    .move-picker {
        position: absolute;

    }
}