.task-preview {
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    
    .preview-indications {
        display: flex;
        justify-content: space-between;
    }
}
