.label-picker {
  background-color: #ffffff;
  width: 300px;
  padding: 0 12px;
  border-radius: 3px;
  font-family: $font-semi;
  color: #5e6c84;

  .label-header {
    border-bottom: 1px solid lighten($color: #e4e4e4, $amount: 4%);
    font-size: rem(14px);
    margin: 15px 0 8px 0;
  }
  .label-container {
    margin-bottom: 15px;
    .label {
      display: flex;
      justify-content: space-between;
      .label-card {
        display: flex;
        justify-content: space-between;
        font-size: rem(14px);
        padding: 3px;
        border-radius: 3px;
        font-family: $font-bold;
        color: #fff;
        margin: 0 0 4px;
        padding: 6px 12px;
        min-height: 20px;
        width: 100%;
        
        .label-txt {
            transition: padding 0.3s;
          width: 100%;
        }
        .label-txt:hover {
          padding-left: 5px;
        }
      }
      .label-edit {
        margin: 3px 0 0 6px;
        padding: 0 4px;
        opacity: 0;
        color: #5e6c84;
        outline: 0;
      }
    }
  }
  .label:hover {
      .label-edit{
          opacity: 100%;
      }
  }
}
