.label-picker-container {
  background-color: #ffffff;
  width: 300px;
  padding: 10px 10px 2px 10px;
  border-radius: 3px;
  font-family: $font-semi;
  color: #5e6c84;

  .label-header {
    border-bottom: 1px solid lighten($color: #e4e4e4, $amount: 4%);
    font-size: rem(14px);
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .label-container {
    margin-bottom: 15px;

    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .label-card {
      font-size: rem(14px);
      padding: 3px;
      border-radius: 3px;
      color: #fff;
      font-family: $font-bold;
      margin: 0 0 4px;
      padding: 6px 12px;
      height: 35px;
      flex: 1;
      margin-right: 5px;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .label-txt {
        transition: padding 0.3s;
        cursor: pointer;
      }
      .label-txt:hover {
        padding-left: 5px;
      }
      .label-name-input {
        border: 0;
        outline: 0;
        background-color: transparent;
        border-radius: 3px;
        color: #fff;
        font-family: $font-bold;
        font-size: rem(14px);
      }
      .label-name-input::placeholder {
        font-family: $font-light;
        color: #fff;
        font-size: rem(14px);
      }
    }

    .label-edit-btn {
      height: 26px;
      width: 30px;
      border-radius: 3px;
      color: #5e6c84;
      outline: 0;
      transition: background-color 0.3s;
    }
    .label-edit-btn:hover {
      background-color: rgba(183, 190, 201, 0.514);
    }

    .label-save-btn {
      background-color: $pGreen;
      color: $clr5;
      font-family: $font-semi;
      font-size: rem(14px);
      border-radius: 3px;
      padding: 6px 12px;
      margin: 0 0 4px 4px;
    }
    .label-save-btn:hover {
      background-color: lighten($pGreen, 10);
    }
  }

  .close-btn {
    position: absolute;
    top: 3px;
    right: 3px;
  }
}

.label-card-cmp {
  display: flex;
  justify-content: center;
  align-items: center;
}
