.move-picker {
  background-color: white;
  width: 300px;
  font-family: $font-regular;
  font-size: rem(16px);
  display: flex;
  justify-content: center;
  border: solid black 1px;
  border-radius: 3px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    padding: rem(10px);

    > * {
        margin-bottom: rem(15px);
    }

    .title {
        font-size: rem(18px);
    }

    .dest {
        text-transform: uppercase;
        font-family: $font-semi;
        font-size: rem(14px);
    }
    select {
      width: 90%;
      cursor: pointer;
      font-family: $font-light;
    }

    button {
      font-size: 16px;
      font-family: $font-semi;
      background-color: $pGreen;
      color: seashell;
      width: 100px;
      border-radius: 3px;
      padding: rem(5px) rem(10px);
      transition: all .3s;
    }

    button:hover {
        background-color: darken($pGreen, 10);
    }
  }
}
